<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Тардис 3 - ваш помощник</title>
    </head>
    <body>
        <%- include("../components/menu") %>
        <div class="container text-center">
            <div class="row">
                
            </div>
        </div>
    </body>
</html>