<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/menu.css">
        <link rel="stylesheet" href="../css/theme.css" id="theme">
        <script src="../js/loader.js"></script>
    </head>
    <body>
        <div class="container text-center preload">
            <div class="row">
                <div class="col">
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar bg-success" id="progress" role="progressbar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="procname">
                    Starting...
                </div>
            </div>
        </div>
    </body>
</html>