.c-menu{
    background-color: #373737;
    color: #f4f4f4 !important;
    transition: 1s;
}
.c-menu-link{
    color: #f4f4f4 !important;
}
.logo{
    background-color: #979797 !important;
    color: black;
    transition: 1s;
}
body{
    background-color: #525252;
    transition: 1s;
}