.c-menu{
    background-color: #d1d1d1;
    transition: 1s;
}
.c-text{
    color: #000000 !important;
    transition: 1s;
}
.chat-text{
    color: #ffffff !important;
}
.in-chat{
    background-color: #9e9e9e;
    transition: 1s;
}
.out-chat{
    background-color: #838383;
    transition: 1s;
}
.logo{
    color: white !important;
    background-color: #373737; 
    transition: 1s;
}

body{
    background-color: #ffffff;
    transition: 1s;
}